
.head-container {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
    align-items: center;
    justify-content: space-around;
padding: 20px 20px 0px 20px;
background-image: linear-gradient(white, white, white, #e5e5e5);

}

.fa {

  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center; 
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;

}
.contactdeets {
	  display: flex;
	flex-direction: column;

}

.carousel-caption {
	background-color: rgba(23, 162, 184, 0.6);
    border-radius: 30px;
}

}
.btn {
	width: 221px;
}

/* make dropdown button activate on hover */
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}


hr {
	background-color: #17a2b8;
}
.nav-link {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem
 

}
nav {
	 border-bottom-style: solid;
    border-bottom-color: #17a2b8;
    border-bottom-width: 2px;
}

.dropdown-menu {
  background-color: #e5e5e5;
}

@media only screen and (max-width: 550px) {
    .head-container{
        font-size: 1em;
        
    }
    .contactdeets {
    	text-align: center;
    }
    .logo {
    	order: 1;
    }

     .carousel-caption {
    	transform: scale(0.5);
    }
    .boxes {
    	max-width: 100px;
    	max-height: 100px;
    	margin: 5px;
    	padding: 5px;
    }

}

.carousel-item img {
	opacity: 0.6;
	
}


.body-container {

	justify-items: center;
    background-image: linear-gradient(#e5e5e5, white, white, #e5e5e5);
    display: flex;
 flex-wrap: wrap;
 flex-direction: row;
    align-items: center;
    justify-content: center;

align-content: space-between;
}
.boxes {
	height: 300px;
	width: 300px;
	padding: 30px;
	margin: 30px;
}

.box1 {
background-color: blue;
}
.box2 {
background-color: yellow;
}
.box3 {
background-color: green;
}
.box4 {
background-color: red;
}
.box5 {
background-color: black;
}
.box6 {
background-color: grey;
}
.box7 {
background-color: purple;
}


html, body {
	overflow-x: unset;
min-width: 100%;
}

li {
	list-style-type: none;
}

body {
    margin: auto 0;
    font-family: sans-serif;
}
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
